@import '../../variables';


.hero {
  @include flex-center();
  flex-direction: column;
  height: 100%;
  color: color(secondary);
  background-color: color(primary);

  .main-title {
    font-size: 40px;
    font-weight: bold;
  }

}