<div #heroRef class="hero">
  <div class="triangle-wrapper" >
    <img class="triangle triangle-black" (click)="scrollToTop()" src="./assets/images/footer/triangle-black.svg" alt="black-triangle">
    <img class="triangle triangle-white" (click)="scrollToTop()" src="./assets/images/footer/triangle-white.svg" alt="white-triangle">
  </div>


  <div class="main-content">
    <span class="name">Simon Berhanu</span> ©2019
  </div>
</div>


<div class="contacts">
  <a class="contact" href="https://github.com/siberii"><img class="contact-logo" src="./assets/images/cta/github-logo.svg" alt="github icon"></a>
  <a class="contact" href="https://www.linkedin.com/in/simon-berhanu/"><img class="contact-logo" src="./assets/images/cta/linkedin-logo.svg" alt="linkedin icon">
  </a>
</div>
