@import '../../variables';


.hero {
  @include flex-center();
  flex-direction: column;
  height: 100%;
  color: color(primary);
  background-color: color(secondary);

  .main-title {
    font-size: 40px;
    font-weight: bold;
  }

}

.contacts {
  @include flex-center();
  left: 50%;
  transform: translate(-50%, 0%);
  position: fixed;
  bottom: 0;

  .contact {
    @include flex-center();
    background-color: color(accent);
    height: 60px;
    width: 60px;
    margin-left: 1px;
    transition: transform ease 0.3s;

    &:hover {
      transform: translateY(-20%);
    }

    .contact-logo {
      height: 25px;
      display: block;
    }
  }
}
