<div class="hero">
  <div class="main-title">ABOUT ME<div class="underline"></div>
  </div>

  <img class="picture" src="../../assets/images/about/me.svg" alt="simon">
  <div class="main-content">
    I'm a second-year Software Engineer student at Polytechnique Montreal. I have serious passion for frontend, backend
    development and software engineering in general. I have a great intellectual curiosity, analytical mind and I'm a
    fast learner.
  </div>
</div>
<div class="contacts">
  <div class="contact"><img class="contact-logo" src="../assets/images/cta/github-logo.svg" alt="github icon"></div>
  <div class="contact"><img class="contact-logo" src="../assets/images/cta/linkedin-logo.svg" alt="linkedin icon"></div>
</div>
