@import "../../variables";


.hero {
  @include flex-center();
  justify-content: space-evenly;
  flex-direction: column;
  padding: 120px 0;
  height: 100%;
  color: color(primary);
  background-color: color(secondary);

  @include desktop {
    justify-content: flex-start;
    height: auto;
  }

  .main-title {
    font-size: 4.1vh;
    font-weight: bold;
    margin: 5vh auto 0;

    @include desktop {
      font-size: $title-desktop;
      margin: 5vh auto;
    }

    .underline {
      background-color: color(primary);
      height: 4px;
      width: 70px;
      margin: 5px auto;

      @include desktop {
        width: $underline-desktop;
        margin: 14px auto;
      }
    }
  }

  .wrapper {
    @include flex-center();
    flex-direction: column;

    @include desktop {
      width: 70%;
      flex-direction: row;
      justify-content: center;
      justify-self: center;
    }
  }

  .picture {
    height: 15vh;
    margin: 4vh 0;

    @include desktop {
    height: 18vh;

    }
  }

  .main-content {
    line-height: 4vh;
    font-size: 2.2vh;
    text-align: justify;
    margin: 0 10vw;
  }
}

.contacts {
  @include flex-center();
  left: 50%;
  transform: translate(-50%, 0%);
  position: fixed;
  bottom: 0;

  .contact {
    @include flex-center();
    background-color: color(accent);
    height: 60px;
    width: 60px;
    margin-left: 1px;
    transition: transform ease 0.3s;

    &:hover {
      transform: translateY(-20%);
      cursor: pointer;
    }

    .contact-logo {
      height: 25px;
      display: block;
    }
  }
}
