<div #heroRef class="hero">
  <div class="main-title">PROJECTS<div class="underline"></div>
  </div>
  <div class="projects">

    <a class="project" href="https://the-note-taker.herokuapp.com/">
      <img class="project-picture" src="./assets/images/projects/note-taker-thumb.svg" alt="note-taker-app">

      <div class="project-details">
        <div class="project-title">Note Taker </div>
        JS + Node + MongoDB
      </div>
    </a>

    <a class="project" href="https://draw-rebase.netlify.com/">
      <img class="project-picture" src="./assets/images/projects/rebase.png" alt="note-taker-app">

      <div class="project-details">
        <div class="project-title">Draw Rebase </div>
        Angular + Node + MongoDB
      </div>
    </a>

    <!-- Add new project here -->

  </div>
</div>