@import "../../variables";

.hero {
  @include flex-center();
  flex-direction: column;
  padding: 120px 0 30vh;
  color: color(primary);
  background-color: color(secondary);

  @include desktop {
    padding: 20% auto;

    .projects {
      padding: 0 0 2%;
      width: 55%;
      @include flex-center();
      justify-content: space-evenly;
    }
  }

  .main-title {
    font-size: 4.1vh;
    font-weight: bold;
    margin: 5vh auto 0;

    @include desktop {
      font-size: $title-desktop;
      margin: 5vh auto;
    }

    .underline {
      background-color: color(primary);
      height: 4px;
      width: 70px;
      margin: 5px auto;

      @include desktop {
        font-size: $title-desktop;
        width: $underline-desktop;
        margin: $underline-margin-desktop;
      }
    }
  }

  .project {
    display: block;
    position: relative;
    @include flex-center();
    flex-direction: column;
    cursor: pointer;

    &:hover {
      .project-details {
        opacity: 1;
      }

      .project-picture {
        opacity: 0.1;
      }
    }

    .project-picture {
      height: 100%;
      transition: 0.3s;
      box-shadow: $shadow;
      width: 400px;
      height: 260px;
    }

    .project-title {
      padding: 1vh;
      font-size: 2.5vh;
      font-weight: bold;
      text-transform: uppercase;
    }

    .project-details {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      opacity: 0;
      transition: all 0.3s;
      font-size: 2vh;
      color: color(tertiary);
    }
  }
}
