@import "../../variables";

.hero {
  @include flex-center();
  flex-direction: column;
  padding: 120px 0 30vh;
  color: color(primary);
  background-color: color(secondary);

  .main-title {
    font-size: 4.1vh;
    font-weight: bold;
    margin: 5vh auto 0;

    .underline {
      background-color: color(primary);
      height: 4px;
      width: 70px;
      margin: 5px auto;
    }
  }

  .project {
    display: block;
    position: relative;
    @include flex-center();
    flex-direction: column;
    cursor: pointer;

    &:hover {
      .project-details {
        opacity: 1;
      }
      .project-picture{
        opacity: 0.5;
      }
    }

    .project-picture {
      height: 100%;
      margin: 4vh 0 0;
      transition: 0.3s;
    }

    .project-title {
      padding: 1vh;
      font-size: 2.5vh;
      font-weight: bold;
      text-transform: uppercase;
    }

    .project-details {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      opacity: 0;
      transition: all 0.3s;
      font-size: 2vh;
      color: color(tertiary);
    }
  }

  .main-content {
    line-height: 4vh;
    font-size: 2.2vh;
    text-align: justify;
    margin: 0 10vw;
  }
}