<div #hamburgerRef [ngClass]="{'nav-scrolled': isScrolled}" class="hambuger-container">
  <input [checked]="isChecked" (change)="onChange($event)" type="checkbox" class="toggler">
  <div class="hamburger-line line1"></div>
  <div class="hamburger-line line2"></div>
  <div class="hamburger-line line3"></div>
</div>
<div [ngClass]="{'visible': isChecked}" class="menu">
  <div>
    <ul class="list">
      <li><a class="section" (click)="onHomeClick()">Home </a></li>
      <li><a class="section" (click)="onAboutClick()">About</a></li>
      <li><a class="section" (click)="onProjectsClick() ">Projects</a></li>
      <li><a class="section" (click)="onContactClick() ">Contact</a></li>
    </ul>
  </div>
</div>

<div #headerRef class="menu-header">
  <ul class="list">
    <li>
      <a class="section" #header (click)="onHomeClick(header)">Home</a>
    </li>
    <li>
      <a class="section" #header (click)="onAboutClick(header)">About me</a>
    </li>
    <li>
      <a class="section" #header (click)="onProjectsClick(header) ">Projects</a>
    </li>
  </ul>
</div>

<div #crumsRef class="crums" [ngClass]="{'crums-scrolled': isScrolledCrums}">
  <div class="circle circle-active" (click)="onHomeClick(header)"></div>
  <div [ngClass]="{'circle-active-black': isSecondCrum}" class="circle" (click)="onAboutClick(header)"></div>
  <div [ngClass]="{'circle-active-black': isThirdCrum}" class="circle" (click)="onProjectsClick(header)"></div>
</div>
