@import "../../variables";

$length-mobile: 60px;
$length-desktop: 90px;

$left-mobile: 40%;
$left-desktop: 47.5%;

.hambuger-container {
  position: fixed;
  top: 0;
  background-color: color(accent);
  height: $length-mobile;
  width: $length-mobile;
  transition: background-color ease 0.3s;
  z-index: 10;
  box-shadow: $shadow;

  @include desktop {
    height: $length-desktop;
    width: $length-desktop;
  }
  .hamburger-line {
    position: absolute;
    background-color: color(primary);
    transition: background-color ease 0.3s;

    height: 2px;
    width: 24px;
    left: $left-mobile;

    transition: all 0.4s ease;

    @include desktop {
      height: 2px;
      width: 28px;
      left: $left-desktop;
    }
  }

  .line1 {
    top: 70%;
    
  }
  .line2 {
    top: 80%;

  }
  .line3 {
    top: 60%;
  }

  @include desktop {
    .line1 {
      top: 70%;
    }
    .line2 {
      top: 80%;
    }
    .line3 {
      top: 60%;
    }
  }

  .toggler {
    position: absolute;
    top: 50%;
    left: $left-mobile;
    z-index: 10;
    cursor: pointer;
    width: 28px;
    height: 28px;
    opacity: 0;
    
    &:checked ~ .hamburger-line {
      transform: rotate(180deg);
    }
    
    @include desktop {
      left: $left-desktop;
      top: 55%;
      width: 32px;
      height: 32px;
    }
  }
}

// Called when scrolled to about section
.nav-scrolled {
  background-color: color(primary);
  .hamburger-line {
    background-color: color(accent);
  }
}

.menu {
  position: absolute;
  z-index: 2;
  background-color: color(secondary);
  height: 100vh;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vw;
  font-weight: bold;
  color: color(primary);
  visibility: hidden;
  transform: translate(-150%, -50%);
  transition: all 0.4s;

  @include desktop {
    font-size: 80px;
    background-color: color(primary-light);

    .menu-wrapper {
      height: 100%;
      width: 80%;
      background-color: color(secondary);
      transition: all ease 0.6s;
    }
  }

  .list {
    @include flex-center();
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    height: 100vh;
    padding: 25vh 35vw;

    @include desktop {
      padding: 23vh 42%;
    }

    li {
      list-style: none;
      transition: all ease 0.3s;
      cursor: pointer;

      &:hover {
        transform: translateX(10%);
      }
    }
  }
}

.visible {
  visibility: visible;
  transform: translate(-50%, -50%);
}

.menu-header {
  display: none;
}

@include desktop {
  .menu-header {
    display: block;
    z-index: 2;
    width: 100%;
    height: 9%;
    padding: 0 5% 0 55%;
    font-size: 20px;
    background-color: color(primary);
    color: color(secondary);
    transition: all 0.4s;

    .list {
      @include flex-center();
      justify-content: space-between;
      align-items: baseline;
      li {
        @include flex-center();
        align-items: flex-end;

        width: 100%;
        height: 120px;
        list-style: none;

        @include desktop {
          height: $length-desktop;
        }

        .section {
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }

  .crums {
    $crum-length: 18px;

    position: fixed;
    @include flex-center();
    justify-content: space-between;
    flex-direction: column;
    height: 175px;
    width: $crum-length;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);

    .circle {
      cursor: pointer;
      border: 2px solid color(accent);
      height: $crum-length;
      width: $crum-length;
      border-radius: 100%;
      transition: all 0.3s;
    }

    .circle-active {
      border-color: color(secondary);
      background-color: color(secondary);
      transition: all 0.3s;
    }
  }

  .crums-scrolled {
    .circle-active-black {
      border-color: color(primary);
      background-color: color(primary);
    }
    .circle {
      border-color: color(primary);
    }
  }
}
