@import "../../variables";

.hero {
  @include flex-center();
  flex-direction: column;
  color: color(primary);
  background-color: color(secondary);
  
  @include desktop {
    justify-content: flex-start;
  }

  .main-title {
    font-size: 4.1vh;
    font-weight: bold;
    margin: 5vh auto 0;

    @include desktop {
      font-size: $title-desktop;
    }

    .underline {
      background-color: color(primary);
      height: 4px;
      width: 70px;
      margin: 5px auto;

      @include desktop {
        margin: $underline-margin-desktop;
        width: $underline-desktop;
      }
    }
  }

  .levels {
    @include flex-center();
    justify-content: space-evenly;
    width: 100%;
    margin: 6vh 10vw 3vh;

    @include desktop {
      width: 50%;
      margin: 6vh 10vw;
    }

    .level {
      padding: 5px 20px;
      &:hover {
        cursor: pointer;
      }

      @include desktop {
        font-size: 20px;
        padding: 10px 30px;
      }
    }

    .level-selected {
      background-color: color(primary);
      color: color(secondary);
    }
  }

  .skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 2vh;
    padding: 3vh 10vw;
    justify-items: center;
    align-items: center;

    @include desktop {
      width: 65%;
      grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    }

    .skill {
      @include flex-center();
      flex-direction: column;
      height: auto;

      .skill-logo {
        height: 8vh;
        width: 20vw;

        @include desktop {
          height: 9vh;
          width: 12vw;
        }
      }

      .skill-name {
        height: auto;
        font-size: 1.5vh;
        padding: 1vh;
      }
    }
  }
}
