$colors: (
  "primary": #0f0f11,
  "primary-light": lighten(#0f0f11, 5%),
  "secondary": #f6f6f6,
  "accent": #fff,
  "tertiary": lighten(#0f0f11, 30%)
);

$shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
$no-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

$title-desktop: 5vh;
$underline-desktop: 60%;
$underline-margin-desktop: 14px auto;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fade-up($delay) {
  opacity: 0;
  animation: fadeUp 1s ease $delay forwards;
}

@keyframes fadeUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Rotation animation */
@keyframes rotate90 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

@keyframes rotateBack90 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

// Media query for desktop view
$desktop: 768px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
