$colors: (
  "primary": #0f0f11,
  "secondary": #f6f6f6,
  "accent": #fff,
  "tertiary": lighten(#0f0f11, 30%)
);

$shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
$no-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fade-up($delay) {
  opacity: 0;
  animation: fadeUp 1s ease $delay forwards;
}

@keyframes fadeUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
